<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container-fluid bg-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-2 text-uppercase">
                    labhill 
                </div>
                <div class="col-6">
                    <input type="search" class="form-control" placeholder="search............">
                </div>
                <div class="col-4" id="header-left-panel">
                    <ul >
                        <li>message</li>
                        <li>notifications</li>
                        <li>profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="section-wrapper">
        <div id="section-one">
            <ul>
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <div class="text">home</div> 
                </li>
                <li>
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <div class="text">analytics</div>
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="text">inbox</div>
                </li>
                <li>
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <div class="text">message</div>
                </li> 
                <li>
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div class="text">help</div>
                </li>
                <li>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <div class="text">settings</div>
                </li>
            </ul>
        </div>
        <div id="section-two">
            <div class="top-float mt-2">
                <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: flex-end;">
                    <li class="top-button-creation">hours</li>
                    <li class="top-button-creation">daily</li>
                    <li class="top-button-creation">weekly</li>
                    <li class="top-button-creation">monthly</li>
                </ul>
            </div>
            <section>
                <div class="component">
                    <div class="header">
                        total referal counts
                    </div>
                    <div class="body">
                        <div class="text">
                            563 referals
                        </div>
                        <div class="img">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="gain-lose">
                            2.15
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="component">
                    <div class="header">
                        daily sales
                    </div>
                    <div class="body">
                        <div class="text">
                            200 ghc
                        </div>
                        <div class="img">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="gain-lose">
                            2.15
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="component">
                    <div class="header">
                        monthly sales
                    </div>
                    <div class="body">
                        <div class="text">
                            700 ghc
                        </div>
                        <div class="img">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="gain-lose">
                            2.15
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="component">
                    <div class="header">
                        yearly sales
                    </div>
                    <div class="body">
                        <div class="text">
                            5000 ghc
                        </div>
                        <div class="img">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="gain-lose">
                            2.15
                        </div>
                        <div class="arrow">
                            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>