<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container-fluid bg-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-2 text-uppercase">
                    labhill 
                </div>
                <div class="col-6">
                    <input type="search" class="form-control" placeholder="search............">
                </div>
                <div class="col-4" id="header-left-panel">
                    <ul >
                        <li>message</li>
                        <li>notifications</li>
                        <li>profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="section-wrapper">
        <div id="section-one">
            <ul>
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <div class="text">home</div> 
                </li>
                <li>
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <div class="text">analytics</div>
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="text">inbox</div>
                </li>
                <li>
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <div class="text">message</div>
                </li> 
                <li>
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div class="text">help</div>
                </li>
                <li>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <div class="text">settings</div>
                </li>
            </ul>
        </div>
        <div id="section-two">
             <div class="container">
                <div class="raw-top-block">
                    <div class="component-section">
                        <li>
                            daily gains
                        </li>
                        <li>
                            <div class="text-two">Lorem, ipsum dolor.</div>
                            <div class="text-img"></div>
                        </li>
                        <li class="d-flex">
                            <div class="number">2.13</div>
                            <div class="text-three">
                                Lorem, ipsum dolor.
                            </div>
                        </li>
                    </div>
                    <div class="component-section">
                        <li>
                            weekly gains
                        </li>
                        <li class="d-flex">
                            <div class="text-two">
                                <div class="number">

                                </div>
                                <div class="text">
                                    lorem
                                </div>
                            </div>
                            <div class="text-img"></div>
                        </li>
                        <li class="d-flex">
                            <div class="number">2.13</div>
                            <div class="text-three">
                                Lorem, ipsum dolor.
                            </div>
                        </li>
                    </div>
                    <div class="component-section">
                        <li>
                            monthly gains
                        </li>
                        <li>
                            <div class="text-two">Lorem, ipsum dolor.</div>
                            <div class="text-img"></div>
                        </li>
                        <li class="d-flex">
                            <div class="number">2.13</div>
                            <div class="text-three">
                                Lorem, ipsum dolor.
                            </div>
                        </li>
                    </div>
                    <div class="component-section">
                        <li>
                            yearly gains
                        </li>
                        <li>
                            <div class="text-two">Lorem, ipsum dolor.</div>
                            <div class="text-img"></div>
                        </li>
                        <li class="d-flex"> 
                            <div class="number">2.13</div>
                            <div class="text-three ">
                                Lorem, ipsum dolor.
                            </div>
                        </li>
                    </div>
                </div>
             </div>
        </div>
    </div>
</body>
</html>