input::placeholder{
    color: gray;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
input:placeholder-shown{
    color: rgb(74, 61, 87);
}
section{
    margin: 0;
    .form-control{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        .input{
            margin: 20px;
            padding: 20px;
            width: auto;
            border: 1.2px solid lightblue;
        }
        .input:focus{
            outline: none;
            
        }
    }
    .button{
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }
}
.login{
    display: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    padding: 10px 20px ;


}

.btn-outline{
    background-color: white;
    border: 1px solid lightgray;
    color: gray;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border: none;
    font-size: 1.0 rem;
}
input:focus{
    border: 1px solid blue;
}
input:required:focus{
    border: 1px solid red;
}

input:required:hover{
    opacity: 1;
}
input:required + ::placeholder{
    color: red;
}